label,
button {
  font-family: 'josefin sans';
}

.login-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4),
      transparent
    ),
    url('../../assets/login-page-bg.jpg');
}
.login-container h1 {
  font-family: pattaya;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}
#emailHelp,
#passwordHelp {
  color: #fff;
  font-style: italic;
}
.register-button {
  margin-right: 2.7rem;
}
.loginButton {
  background-color: #198754;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.4rem 0.8rem;
}
.loginButton:hover {
  background-color: #38b67b;
}
.disabled-btn:disabled {
  cursor: not-allowed;
}
